<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head th:replace="fragments/common-head :: common-head">
  </head>
  <body>
    <h1>Listado de Usuarios <span th:text="${nombre}"></span>!</h1>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
      <a href="#" class="btn btn-primary my-3" data-toggle="modal" data-target="#addUserModal">Agregar Usuario</a>
      <a href="/users/register" class="btn btn-primary my-3">Ir a Registro de Usuario</a>
      <button type="button" class="btn btn-primary my-3" onclick="location.href='/hello'">volver a Home<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 3.293l5.5 5.5a.5.5 0 0 1-.707.707L8 4.707 2.707 10.5a.5.5 0 1 1-.707-.707L8 3.293z"/><path fill-rule="evenodd" d="M7.5 10.5V14h1v-3.5a.5.5 0 0 1 1 0V14h1v-3.5a2 2 0 0 0-2-2h-1a2 2 0 0 0-2 2V14h1v-3.5a.5.5 0 0 1 1 0z"/></svg></button>
</div>
      <!-- tabla de Usuarios-->
<div class="scrollable-div">
  <div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Foto</th>
            <th>UserDni</th>
            <th>Fecha Nacimiento</th>
            <th>Email</th>
            <th>Password</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Ciudad</th>
            <th class="d-none d-md-table-cell">País</th>
            <th class="d-none d-md-table-cell">Código postal</th>
            <th>Género</th>
            <th>Peso</th>
            <th>Altura</th>
            <th>Consiente Datos</th>
            <th class="d-none d-md-table-cell">Fecha Consentimiento</th>
            <th class="d-none d-md-table-cell">userActive</th>
            <th class="d-none d-md-table-cell">Fecha Creación Usuario</th>            
            <th>Acciones</th></tr></thead>
        <tbody>
          <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.userSurname}"></td>
            <td>
              <img th:if="${user.userPhoto != null}" 
                   th:src="@{'/images/users/' + ${user.userPhoto}}" 
                   width="100" height="100" alt="User Photo"/>
            </td>
            <td th:text="${user.userDni}"></td>
            <td th:text="${user.userBirthDate}"></td>
            <td th:text="${user.emailUser}"></td>
            <td style="word-wrap: break-word; max-width: 130px;" th:text="${user.userPassword}"></td>
            <td th:text="${user.userPhone}"></td>
            <td th:text="${user.userAddress}"></td>
            <td th:text="${user.userCity}"></td>
            <td class="d-none d-md-table-cell" th:text="${user.userCountry}"></td>
            <td class="d-none d-md-table-cell" th:text="${user.userPostalCode}"></td>
            <td th:text="${user.userGender}"></td>
            <td th:text="${user.userWeigth}"></td>
            <td th:text="${user.userHeight}"></td>
            <td th:text="${user.userConsent}"></td>
            <td class="d-none d-md-table-cell" th:text="${user.userDateConsent}"></td>
            <td class="d-none d-md-table-cell" th:text="${user.userActive}"></td>
            <td class="d-none d-md-table-cell" th:text="${user.userCreatedAt}"></td>      
            <td><a th:href="@{/users/detalle/{id}(id=${user.id})}" class="btn btn-warning">Editar</a></td>
          <td><a th:href="@{/userSecurityProfile/{userId}(userId=${user.id})}" class="btn btn-info">Editar Seguridad</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
    <!-- Modal para agregar user -->
    <div th:replace="views/Users/user_addModal :: body"></div>
      
  </body>
  <script>
  $(document).ready(function () {
    // Agregar usuario
    $("form").on("submit", function (event) {
      event.preventDefault();
  
      var formData = new FormData($(this)[0]);
      $.ajax({
        url: "/users",
        type: "POST",
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
        setTimeout(function() {
          addUserToTable(response);
        }, 2000);
        $("#addUserModal").modal("hide");
      },
        error: function (xhr, status, error) {
          console.log("Error: " + error);
        },
      });
    });

    // Agregar usuario a la tabla
      function addUserToTable(user) {
      const newRow = `<tr>
        <td>${user.id}</td>
        <td>${user.userName}</td>
        <td>${user.userSurname}</td>
        <td>${user.userPhoto}</td>
        <td>${user.userDni}</td>
        <td>${user.userBirthDate}</td>
        <td>${user.emailUser}</td>
        <td>${user.userPassword}</td>
        <td>${user.userPhone}</td>
        <td>${user.userAddress}</td>
        <td>${user.userCity}</td>
        <td>${user.userCountry}</td>
        <td>${user.userPostalCode}</td>
        <td>${user.userGender}</td>
        <td>${user.userWeigth}</td>
        <td>${user.userHeight}</td>
        <td>${user.userConsent}</td>
        <td>${user.userDateConsent}</td>
        <td>${user.userActive}</td>
        <td>${user.userCreatedAt}</td>
        <td><button><a href="/users/detalle/${user.id}" class="btn btn-warning">Editar</a></button></td>
      </tr>`;
      $("table tbody").append(newRow);
    }

        // Recargar la página cuando se cierre la ventana modal #infoModal
      $("#infoModal").on("hidden.bs.modal", function () {
        location.reload();
      });
  
      // Mostrar formulario de edición en la ventana modal
      $(".btn-editar").on("click", function (event) {
    event.preventDefault();
    const idUser = $(this).data("id");
    mostrarFormularioEdicion(idUser);
  });
});

function mostrarFormularioEdicion(idUser) {
  $.ajax({
    url: "/users/" + idUser,
    type: "GET",
    success: function (user) {
      $("#userId").val(user.id);
      $("#userName").val(user.userName);
      $("#emailUser").val(user.emailUser);
      $("#editarUserModal").modal("show");
      if(user.userPhoto) {
        $("#userImageModal").attr("src", '/images/users/' + user.userPhoto);
      } else {
        // Si no tiene foto, mostrar la imagen por defecto
        $("#userImageModal").attr("src", '/images/default.jpg');
      }
      $("#editarUserModal").modal("show");
    },
    error: function (xhr, status, error) {
      console.log("Error: " + error);
    },
  });
}

function actualizarUser() {
  const idUser = $("#userId").val();
  const userName = $("#userName").val();
  const emailUser = $("#emailUser").val();

  const datosActualizados = {
    userName: userName,
    emailUser: emailUser,
  };

  $.ajax({
    url: "/users/" + idUser,
    type: "PUT",
    data: JSON.stringify(datosActualizados),
    contentType: "application/json",
    success: function (response) {
      $("#editarUserModal").modal("hide");
      location.reload();
    },
    error: function (xhr, status, error) {
      alert("Error al actualizar el usuario");
    },
  });
}
  </script>
  
</html>