<!DOCTYPE html>
<html lang="es">
    <head th:replace="fragments/common-head :: common-head">
    </head>
<body>
    <!-- Fragmento de la barra de navegación -->
    <div th:replace="navbar :: navbar"></div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="text-center">Bienvenido a nuestra tienda de bicicletas</h1>
            <p class="text-center">Aquí encontrarás una amplia gama de productos y servicios relacionados con el mundo del ciclismo.</p>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h2>Bienvenido a mi taller de Bicicletas, <span th:text="${nombre}"></span>!</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis ex eget diam fringilla tempus. Morbi feugiat elit vel tellus ultrices, nec semper erat ultricies. Donec sodales justo in arcu bibendum, et cursus quam tristique.</p>
            </div>
        </div>
    </div>
</body>
</html>

